<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activation</title>
    <link rel="stylesheet" href="../../static/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/styles.css">
</head>
<body>

{% extends 'base.html' %}

{% block content %}

<section class="introduction" style="">
    <h1>Hello teacher3,</h1>
    <h2>Your account has not been activated yet</h2>
    <p>SWaiting for approval from the administrator</p>
    <p>and soon you'll be able to access your Account after approval</p>
    <button>Logout Now</button>
</section>

{% endblock %}


<script src="../../static/bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>

</body>
</html>