<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>base</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.2-dist/css/bootstrap.min.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <!--        <link rel="stylesheet" href="../../static/styles.css">-->
</head>
<body>

<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link" href="javascript:void(0)">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="javascript:void(0)">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="javascript:void(0)">Link</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Search">
                <button class="btn btn-primary" type="button">Search</button>
            </form>
        </div>
      </div>
    </nav>
</header>

{% block content %}

{% endblock %}

<footer class="bg-dark text-white" style="height: 50px; text-align: center; padding-top: 10px">
    <p>Online Examination System</p>
</footer>

{% load static %}
<script src="{% static 'bootstrap-5.3.2-dist/js/bootstrap.min.js' %}"></script>

</body>
</html>
