<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="../../static/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/styles.css">

</head>
<body>

{% extends 'base.html' %}

{% block content %}

<section class="introduction" style="">
    <h1>Online Examination System</h1>
    <h2>Attend your Examinations Here</h2>
    <p>Sign Up now to start your first examination</p>
    <p>Start your journey Here</p>
    <button>Sign Up as Student</button>
</section>

{% endblock %}


<!--<script src="../../static/bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>-->

</body>
</html>