<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student's Sign In</title>
    <link rel="stylesheet" href="../../static/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/styles.css">
</head>
<body>

{% extends 'base.html' %}

{% block content %}
<section class="intro" style="">
    <h1>Hello Student,</h1>
    <h2>and welcome to Online Education System</h2>
    <p>Select any of them to access into the system</p>
    <button>Create your Account</button>
    <button>Login Now</button>
</section>

{% endblock %}


<script src="../../static/bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>

</body>
</html>