<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<table>
    <tr>
        <th>NAME</th>
        <th>COUNTRY</th>
        <th>AGE</th>
        <th>GENDER</th>
    </tr>
    <tr>
        <td>Felix</td>
        <td>Kenya</td>
        <td>17</td>
        <td>Male</td>
    </tr>
    <tr>
        <td>Paul</td>
        <td>Kenya</td>
        <td>18</td>
        <td>Male</td>
    </tr>
    <tr>
        <td>Lynn</td>
        <td>Kenya</td>
        <td>20</td>
        <td>Female</td>
    </tr>
    <tr>
        <td>Lydia</td>
        <td>16</td>
        <td>Kenyan</td>
        <td>Female</td>
    </tr>

</table>
</body>
</html>