<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Register</h1>

        <form action="">
            First Name: <input type="text">
            <br><br>
            Last Name: <input type="text">
            <br><br>
            Age: <input type="text">
            <br><br>
            Gender: <input type="radio" name="gender">Male
                    <input type="radio" name="gender" checked value="Female">Female
            <br><br>
            Marital Status: <input type="text">
            <br><br>
            Location:
                <input type="checkbox" name="location" value="Nairobi" checked>Nairobi
                <input type="checkbox" name="location" value="Kitale">Kitale
                <input type="checkbox" name="location" value="Meru">Meru
                <input type="checkbox" name="location" value="Kirinyaga">Kirinyaga
                <input type="checkbox" name="location" value="Nakuru">Nakuru
                <input type="checkbox" name="location" value="Kiambu">Kiambu
                <input type="checkbox" name="location" value="Kisumu">Kisumu
                <input type="checkbox" name="location" value="Mombasa">Mombasa
            <br><br>
            Country:
                <select name="dropdown" >
                    <option value="Kenya">Kenya</option>
                    <option value="Uganda">Uganda</option>
                    <option value="Tanzania">Tanzania</option>
                    <option value="Rwanda">Rwanda</option>
                    <option value="Burundi">Burundi</option>
                    <option value="Ethiopia" selected>Ethiopia</option>
                    <option value="Somalia">Somalia</option>
                    <option value="South Sudan">South Sudan</option>
                    <option value="Sudan">Sudan</option>
                </select>
            <br><br>
            <input type="submit" value="SAVE">
            <input type="reset" value="UPDATE">

        </form>
</body>
</html>