<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.2-dist/css/bootstrap.min.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body class="p-3 mb-2 bg-black text-white">

<header>

</header>
<section class="Navigation">
    <button class="border border-0 rounded-1 bg-black text-white">HOME</button>
    <button class="border border-0 rounded-1 bg-black text-white">ABOUT US</button>
    <button class="border border-0 rounded-1 bg-black text-white">CONTACT</button>
    <button class="border border-0 rounded-1 bg-black text-white">REGISTER</button>
</section>
<hr>
{% block heading %}

{% endblock %}
<hr>
{% block content %}


{% endblock %}

<hr>

<footer>

    <div class="row">
        <div class="col-1 col-sm-2 col-md-2 col-lg-2"></div>
        <div class="col-0 col-sm-2 col-md-2">
            <ul type="none">
                <li>g</li>
            </ul>
        </div>
        <div class="col-0 col-sm-1 col-md-1 col-lg-1"></div>
        <div class="col-0 col-sm-2 col-md-2 col-lg-2">
            <ul type="none">
                <li>g</li>
            </ul>
        </div>
        <div class="col-0 col-sm-1 col-md-1 col-lg-1"></div>
        <div class="col-0 col-sm-2 col-md-2 col-lg-2">
            <ul type="none">
                <li>g</li>
            </ul>
        </div>
        <div class="col-1 col-sm-2 col-md-2 col-lg-2"></div>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <p class="fst-italic fw-lighter">McDjango All Rights Reserved</p>
        </div>
        <div class="col-sm-2"></div>
    </div>

</footer>

<script src="../../static/bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>
</body>
</html>