<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="../../static/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/styles.css">
</head>
<body>


{% extends 'base.html' %}

{% block content %}

<section class="intro">
    <h1 class="text-info">Welcome to my website</h1>
    <h4>This is the homepage of this website.</h4>
    <p>This is where opportunities come to life.
        <br>Believe me, you are going to love it.</p>
    <h5>What Do I Mean?</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda at aut, blanditiis dicta dolore dolores doloribus dolorum ducimus earum eligendi eveniet fuga, fugiat iste laboriosam minima nobis officia praesentium provident, qui repellendus reprehenderit rerum suscipit ullam voluptatum. A accusantium, ad adipisci autem commodi delectus earum facilis itaque minima molestiae molestias nemo numquam porro saepe similique? Ad adipisci dolores exercitationem laudantium maiores neque non odio odit quidem sit? Alias aliquam aliquid animi aperiam at autem dolor dolore doloremque, exercitationem ipsam maxime, modi mollitia porro, quaerat quam quia saepe totam velit. Atque corporis fugiat laboriosam laborum, molestiae sint! Dolorum eveniet, quod?</p>
</section>
<section class="table">

</section>
<section>

</section>

{% endblock %}

<script src="../../static/bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>
</body>
</html>