*{
    /*width: 100%;*/
    margin: 0;
    padding: 0;
}
body{
    color: white;
    background-color: black;
    width: 100%;
}
h1, h2{
    text-align: center;
}
hr{
    color: white;
}
form{
    width: 100%;
    padding: 10px 10px;
}
.form-control{
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;

}
.form-control::placeholder{
    color: white;
}
.form-control input{
    color: white;
    background-color: transparent;
}
.table-container {
    align-content: center;
    width: 300%;
    }