*{
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    color: white;
    background-color: black;
    width: 100%;
}
hr{
    color: white;
}
form{
    width: 100%;
}
form input-box input{
    color: white;
    background-color: black;
    border: none;
    border-bottom-style: solid;
}