<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>base</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-5.3.2-dist/bootstrap.min.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'js/bootstrap-5.3.2-dist/bootstrap.min.js' %}">
</head>
<body>

<header>

</header>
<hr>

{% block heading %}

{% endblock %}

<hr>

{% block content %}

{% endblock %}

<hr>

<footer>

</footer>

</body>
</html>