<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <link rel="stylesheet" href="../../static/stylesheets/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/stylesheets/styles.css">
</head>
<body>
{% extends 'base.html' %}

{% block heading %}

<h1>Employee List</h1>
<h2>This is the records stored or saved about the company's employees  </h2>

{% endblock %}

{% block content %}
<div></div>
<div></div>
<div></div>
<table width="100%">
    <thead>
        <tr>
            <td>Full Name</td>
            <td>Email</td>
            <td>Emp Code</td>
            <td>Mobile</td>
            <td>Position</td>
            <td>

            </td>
        </tr>
    </thead>
    <tbody>

    {% for Employee in employee_list %}

        <tr>

            <td>{{Employee.fullname}}</td>
            <td>{{Employee.email}}</td>
            <td>{{Employee.emp_code}}</td>
            <td>{{Employee.mobile_no}}</td>
            <td>{{Employee.position}}</td>
            <td>
                <a href="{% url 'employee_update' employee.id %}"><button>UPDATE</button></a>
                <a href="{% url 'employee_delete' employee.id %}"><button>DELETE</button></a>
            </td>

        </tr>

    {% endfor %}

    </tbody>
</table>

{% endblock %}

<script src="../../static/stylesheets/bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>
</body>
</html>