<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <link rel="stylesheet" href="../../static/stylesheets/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/stylesheets/styles.css">
</head>
<body>
{% extends 'base.html' %}

{% block heading %}

<h1>Employee List</h1>

{% endblock %}

{% block content %}
<section>
    <h2>This is the records stored or saved about the company's employees  </h2>
    <div class="row">
        <div class="col-md-1 col-lg-1 col-xl-1 col-xxl-1"></div>
        <div class="col-md-10 col-lg-10 col-xl-10 col-xxl-10">
            <a href="{% url 'employee_form' %}"><button>ADD NEW EMPLOYEES</button></a>
            <table border="2" style="border-color: white">
                <thead>
                    <tr>
                        <td>Full Name</td>
                        <td>Email</td>
                        <td>Emp Code</td>
                        <td>Mobile</td>
                        <td>Position</td>
                        <td>
                        </td>
                    </tr>
                </thead>
                <tbody>
                {% for Employee in employee_list %}
                    <tr>
                        <td>{{Employee.fullname}}</td>
                        <td>{{Employee.email}}</td>
                        <td>{{Employee.emp_code}}</td>
                        <td>{{Employee.mobile_no}}</td>
                        <td>{{Employee.position}}</td>
                        <td>
                            <a href="{% url 'employee_update' Employee.id %}"><button>UPDATE</button></a>
                            <a href="{% url 'employee_delete' Employee.id %}"><button>DELETE</button></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-1 col-lg-1 col-xl-1 col-xxl-1"></div>
    </div>
</section>
{% endblock %}

<script src="../../static/stylesheets/bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>
</body>
</html>